# Preinstall
# 1. Install, start ssh server
#    ```
#    sudo apt update
#    sudo apt install --yes openssh-server
#    sudo systemctl enable ssh
#    sudo systemctl start ssh
#    ```
# 2. Install homebrew
#    ```
#    sudo apt install --yes curl
#    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
#    ```
---
- hosts: ubuntu
  tasks:
    - name: Install global requirements
      become: true
      ansible.builtin.apt:
        state: present
        name:
          - apt-transport-https
          - build-essential
          - ca-certificates
          - git
          - less
          - wget
    - name: Install cli tooling
      become: true
      ansible.builtin.apt:
        state: present
        name:
          - bat
          - eza
          - fd-find
          - fzf
          - gawk
          - git-delta
          - htop
          - jq
          - pwgen
          - sd
          - unzip
    - name: Install other apps
      become: true
      ansible.builtin.apt:
        state: present
        name:
          - age
          - bind9
          - copyq
          - dpkg
          - gparted
          - nodejs
          - npm
          # Duplicative, should already be installed
          - openssh-server
          - tk
          - tre-command
          - tree
    - name: Install homebrew packages
      homebrew:
        state: present
        update_homebrew: yes
        name:
          - argo
          - argocd
          - autojump
          - awscli
          - gcc
          - helm
          # Might want to run `docker update --restart=no [container-id]`
          # https://github.com/kubernetes-sigs/kind/issues/2631#issuecomment-1627428400
          - kind
          - kubernetes-cli
          - mise
          - pulumi
          - pyenv
          - sops
          - vgrep
          - yarn
