[user]
    name = rbetzler
    email = rbetzler94@gmail.com

[core]
    excludesfile = ~/.gitignore.global
    pager = delta

[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto

[delta]
    minus-style = "syntax #340001"
    navigate = true
    plus-style = "syntax #012800"
    ; Cannot toggle delta configs if they are in ~/.gitconfig
    ; side-by-side = true
    syntax-theme = Dracula

[diff]
    renameLimit = 10000

[interactive]
    diffFilter = delta --color-only

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[merge]
	tool = vimdiff

[rebase]
    instructionFormat = "%<(10,trunc)%cr %<(12,trunc)%an %s"

[alias]
    # Adding
    a = add
    af = "add -f"
    ap = "add -p"

    # Branching
    b = branch
    ba = "branch -a"
    bl = "branch -l"
    bd = "branch -D"
    # swap b-current for this: git branch --show-current
    b-current = "!git branch --no-color 2> /dev/null | sed -e '/^[^*]/d; s/^* //;'"
    b-exists =  "!f() { \
      git show-ref --verify --quiet refs/heads/$1; \
    }; f"
    b-primary = !bash ~/.git_aliases/get_primary_branch


    # file name, line start, line end or +/-
    blm-lines =  "!f() { \
      git blame -L \"$2\",\"$3\" -- \"$1\"; \
    }; f"
    blm-fzf = !bash ~/.git_aliases/fzf_blame $1

    # Checkout
    co = checkout
    cob = "checkout -b"
    cob-primary = !bash ~/.git_aliases/checkout_off_primary primary
    cob-staging = !bash ~/.git_aliases/checkout_off_primary staging
    cob-development = !bash ~/.git_aliases/checkout_off_primary development
    cof = "!f() { \
      git checkout $(git branch -l | \
        fzf --reverse --height 10% | \
          awk '{ if ($1==\"*\") {print $2} else {print $1} }') ; \
    }; f"
    coh = "!f() { \
      git co HEAD~\"$1\"; \
    }; f"
    # Use ${GIT_PREFIX:-./} to resolve to the current directory
    # e.g., when needing to reference relative filepaths
    coh-file = "!f() { \
      git co HEAD~\"$1\" -- ${GIT_PREFIX:-./}\"$2\"; \
    }; f"
    coh-stage = "checkout -p HEAD"
    co-theirs = "co --theirs"

    # Commiting
    c = commit
    ca = "commit --all"
    cma = "commit --amend --no-edit"
    cman = "commit --amend --no-edit --no-verify"
    cma-message = "commit --amend"
    cmm = "commit -m"
    cmma = "commit --all -m"
    cmmn = "commit --no-verify -m"
    cmm-reuse = "commit --reuse-message=ORIG_HEAD"
    cmm-no-verify = "commit -n -m"

    # Cherry pick
    chy = "cherry-pick"
    chya = "cherry-pick --abort"
    chyc = "cherry-pick --continue"
    chys = "cherry-pick --skip"
    chyz-staging = "!f() { \
      git log staging --oneline | fzf --preview \" echo {} | awk '{print \\$1}' | git show --stdin --color \" | awk '{print $1 \"^..staging\"}' | git rev-list --reverse --stdin | git cherry-pick --stdin ; \
    }; f"
    chyz-staging-multi = "!f() { \
      git log staging --oneline | fzf --multi --preview \" echo {} | awk '{print \\$1}' | git show --stdin --color \" | awk '{print $1}' | git cherry-pick --stdin ; \
    }; f"

    # Diffs
    df = diff
    dfc = "diff --cached"
    df-search = "diff -G"
    dfc-search = "diff --cached -G"
    dfz = "!f() { \
      git diff $@ --name-only | fzf -m --ansi --preview \"git diff $@ --color=always -- {-1} \" ; \
    }; f"
    df-patch = "!f() { \
      git diff ..\"$1\" > /tmp/my.patch ; \
      git apply /tmp/my.patch ; \
    }; f"
    df-vertical = "-c delta.side-by-side=false diff"
    dfc-vertical = "-c delta.side-by-side=false diff --cached"
    edit-st-file = "!f() { \
      vim $(git status --short | head -\"$1\" | tail -1 | awk '{print $2}'); \
    }; f"
    edit-df-files = "!f() { \
      vim -o $(git diff --name-only); \
    }; f"
    find-common-ancestor = "merge-base"
    ft = "fetch"
    fta = "fetch --all"
    ft-upstream = !bash ~/.git_aliases/fetch_upstream
    ft-detach = !bash ~/.git_aliases/fetch_detach $1

    gh-apply-patch = "!f() { \
      curl \"$1\" | git apply ;\
    }; f"
    gh-generate-commit-link = !bash ~/.git_aliases/generate_gh_link

    # Logging
    l = log
    lg = "log --graph"
    lfz = !bash ~/.git_aliases/log_fzf
    # Fuzzy find an author and their git log
    lfz-author = "!f() { \
      git shortlog --summary --numbered | cut -f 2 | fzf | xargs -I {} git log --author {} ;\
    }; f"
    lp = "log -p"
    lp-mine = "log -p --author=rbetzler"
    lp-vertical = "-c delta.side-by-side=false log -p"
    l-feat-commits = !bash ~/.git_aliases/log_feature_commits
    l-feat-hashs = !bash ~/.git_aliases/log_feature_commits 0
    l-hashs = log --pretty=format:%h
    l-files = "log --name-only"
    l-files-mine = "log --author=rbetzler --name-only"
    l-grep = "!f() { \
      git log --grep=\"$1\";\
    }; f"
    l-mine = "log --author=rbetzler"
    l-message = "log --format=%B -n 1"
    l-search = "log -S"

    # Pick changes from conflict
    pick-ours = "!f() { \
      git checkout --ours $(git diff --name-only --diff-filter=U); \
    }; f"
    pick-theirs = "!f() { \
      git checkout --theirs $(git diff --name-only --diff-filter=U); \
    }; f"

    # Pushing
    p = push
    pf = "push -f"
    pfl = "push --force-with-lease"
    psu = !bash ~/.git_aliases/push_set_upstream
    psu-force = !bash ~/.git_aliases/push_set_upstream 0

    pr-comments ="!f() { \
      gh pr view --comments \"$1\"; \
    }; f"
    pr-diff = "!f() { \
      gh pr diff \"$1\"; \
    }; f"

    # Open, reopen drafts
    pr-draft = !bash ~/.git_aliases/open_prs draft main open
    pr-draft-staging = !bash ~/.git_aliases/open_prs draft staging open
    pr-draft-development = !bash ~/.git_aliases/open_prs draft development open
    pr-redraft = !bash ~/.git_aliases/open_prs draft main reopen
    pr-redraft-staging = !bash ~/.git_aliases/open_prs draft staging reopen

    pr-list = !bash ~/.git_aliases/list_prs 0
    pr-list-mine = !bash ~/.git_aliases/list_prs 1
    pr-list-work-team = !bash ~/.git_aliases/list_prs 2

    # Open, reopen prs
    pr-open = !bash ~/.git_aliases/open_prs open main open
    pr-open-staging = !bash ~/.git_aliases/open_prs open staging open
    pr-open-development = !bash ~/.git_aliases/open_prs open development open
    pr-reopen = !bash ~/.git_aliases/open_prs open main reopen
    pr-reopen-staging = !bash ~/.git_aliases/open_prs open staging reopen

    prs ="!f() { \
      gh pr status; \
    }; f"

    # Pulling
    pl = pull
    pl-all = !bash ~/.git_aliases/pull_all
    prn-rmt = "fetch --prune origin"

    # Rebasing
    rb = rebase
    rba = "rebase --abort"
    rbc = "rebase --continue"
    rbi = "rebase -i"
    rbi-mine = !bash ~/.git_aliases/rebase_my_commits
    rbi-mine-staging = !bash ~/.git_aliases/rebase_my_commits staging
    rbi-mine-development = !bash ~/.git_aliases/rebase_my_commits development
    rbih = "!f() { \
      git rbi HEAD~\"$1\"; \
    }; f"
    rbih-merges = "!f() { \
      git rbi HEAD~\"$1\" --rebase-merges; \
    }; f"
    rb-primary = !bash ~/.git_aliases/rebase_off_primary
    rb-staging = !bash ~/.git_aliases/rebase_off_primary staging
    rb-development = !bash ~/.git_aliases/rebase_off_primary development
    rb-loop = !bash ~/.git_aliases/rebase_loop main
    rmall = "!f() { \
      git clean -fd; \
      git reset --hard; \
    }; f"

    # Remote, repo management
    rmt-add = "!f() { \
      git remote add \"$1\" \"$2\"; \
    }; f"
    rmt-list = "remote -v"
    rmt-rmv = "!f() { \
      git remote remove \"$1\"; \
    }; f"
    rps-add = "!f() { \
      gita add \"$1\"; \
    }; f"
    rps-status = "!f() { \
      gita ll; \
    }; f"
    rps-list-branches = "!f() { \
      gita super bl; \
    }; f"

    rflg = "!f() { \
      git reflog --grep-reflog=\"$1\"; \
    }; f"

    # Resets
    rst = reset
    rst-head = "!f() { \
      git reset HEAD~\"$1\"; \
    }; f"
    rst-hard = "!f() { \
      git reset --hard origin/\"$1\"; \
    }; f"
    rst-current = "!f() { \
      git rst-hard $(git b-current); \
    }; f"
    rst-primary = "!f() { \
      git rst-hard $(git b-primary); \
    }; f"

    rstr-stg = "restore --stage"

    # Reverts
    rvrt = revert
    rvrt-a = "revert --abort"
    rvrt-c = "revert --continue"
    rvrt-no-commit = "revert --no-commit"
    rvrt-no-commit-head = "rvrt-no-commit HEAD"

    # Showing
    sh = show
    shh = "!f() { \
      git show HEAD~\"$1\"; \
    }; f"
    shh-file-names = "!f() { \
      git show HEAD~\"$1\" --pretty="" --name-only; \
    }; f"
    shhash = "rev-parse HEAD"
    sh-vertical = "-c delta.side-by-side=false show"

    st = status

    # Stashing
    sth = stash
    sth-apply = "stash apply"
    sth-clear = "stash clear"
    sth-diff = "stash show -p"
    sth-drop = "stash drop"
    sthz = !bash ~/.git_aliases/stash_fzf
    sth-list = "stash list"
    sth-pop = "stash pop"

    # Tag
    tag-annotate = "tag -a"
    tag-delete = "tag -d"
    tag-list = "tag -n100"
    tag-push = "push origin --tags"
    tag-push-delete = "push origin --delete"
    tag-push-force = "push origin --tags --force"

[pull]
    rebase = true
