[submodule "yay-bin"]
    path = repos/yay-bin
    url = https://aur.archlinux.org/yay-bin.git

[submodule "wallpaper"]
    path = repos/wallpaper
    url = https://github.com/dracula/wallpaper.git

[submodule "mutt"]
    path = repos/mutt
    url = https://github.com/dracula/mutt.git

[submodule "opencode"]
    path = repos/opencode
    url = https://github.com/dracula/opencode.git

[submodule "repos/obra-superpowers"]
    path = repos/obra-superpowers
    url = https://github.com/obra/superpowers.git

[submodule "repos/pi-coding-agent"]
    path = repos/pi-coding-agent
    url = https://github.com/dracula/pi-coding-agent.git

[submodule "repos/antidote"]
    path = repos/antidote
    url = https://github.com/mattmc3/antidote.git
