[submodule "oh-my-zsh"]
    path = .oh-my-zsh
    url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "plugins/zsh-syntax-highlighting"]
    path = repos/oh-my-zsh-extensions/plugins/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "plugins/zsh-autosuggestions"]
    path = repos/oh-my-zsh-extensions/plugins/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions

[submodule "plugins/zsh-vi-mode"]
    path = repos/oh-my-zsh-extensions/plugins/zsh-vi-mode
    url = https://github.com/jeffreytse/zsh-vi-mode

[submodule "plugins/fzf-tab"]
    path = repos/oh-my-zsh-extensions/plugins/fzf-tab
    url = https://github.com/Aloxaf/fzf-tab

[submodule "plugins/zsh-system-clipboard"]
    path = repos/oh-my-zsh-extensions/plugins/zsh-system-clipboard
    url = https://github.com/kutsan/zsh-system-clipboard

[submodule "plugins/nix-zsh-completions"]
    path = repos/oh-my-zsh-extensions/plugins/nix-zsh-completions
    url = https://github.com/nix-community/nix-zsh-completions.git

[submodule "plugins/zsh-nix-shell"]
    path = repos/oh-my-zsh-extensions/plugins/zsh-nix-shell
    url = https://github.com/chisui/zsh-nix-shell.git

[submodule "themes/mutt"]
    path = repos/oh-my-zsh-extensions/themes/mutt
    url = https://github.com/dracula/mutt.git

[submodule "themes/terminator"]
    path = repos/oh-my-zsh-extensions/themes/terminator
    url = https://github.com/dracula/terminator.git

[submodule "themes/zsh"]
    path = repos/oh-my-zsh-extensions/themes/zsh
    url = https://github.com/dracula/zsh.git

[submodule "themes/zsh-syntax"]
    path = repos/oh-my-zsh-extensions/themes/zsh-syntax
    url = https://github.com/dracula/zsh-syntax-highlighting.git

[submodule "yay-bin"]
    path = repos/yay-bin
    url = https://aur.archlinux.org/yay-bin.git

[submodule "wallpaper"]
    path = repos/wallpaper
    url = https://github.com/dracula/wallpaper.git
