cookiecutter
dbt-bigquery
dbt-clickhouse
dbt-core
dbt-postgres
flake8
gita
graphviz
grip
ipdb
ipython>=8.10
jedi
jupyter
pandas
pipdeptree
pipreqs
pre-commit
pudb
pulumi
pynvim
# bq cli tool is busted
pyparsing==2.4.2
shellcheck-py
sqlfluff
yamllint
yapf
