cookiecutter
dbt-bigquery
dbt-clickhouse
dbt-core
dbt-postgres
flake8
gita
graphviz
grip
ipdb
ipython>=8.10
jedi==0.17.2
jupyter
pandas
pipdeptree
pipreqs
pre-commit
pulumi
pynvim
# bq cli tool is busted
pyparsing==2.4.2
pudb
shellcheck-py
sqlfluff
yamllint
yapf
