black
boto3
botocore
build
bump2version
cookiecutter
coverage
cron-descriptor
dbt-bigquery
dbt-clickhouse
dbt-core>=1
dbt-postgres
doq
duckdb
flake8
graphviz
grip
ipdb
ipython>=8.10
jc
jedi
jinja-cli
# keyring
libcst
pandas
pre-commit
pudb
pulumi
pymysql
pynvim
pytest
shellcheck-py
sqlalchemy
sqlfluff
# sqlfmt
# twine
wheel
yamllint
yapf
yq
