---
- hosts: servers
  tasks:
    - name: Mount disk
      when: inventory_hostname in groups['ubuntu']
      become: true
      ansible.posix.mount:
        path: /media/
        src: /dev/sda3
        fstype: ext4
        state: mounted
        opts: defaults
    - name: Create minio dir
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      loop:
        - ~/apps/minio/data/
    - name: Write minio docker compose
      ansible.builtin.copy:
        dest: ~/apps/minio/docker-compose.yaml
        content: |
          ---
          services:
            minio:
              image: minio/minio
              command: server /data --console-address ":9001"
              restart: unless-stopped
              volumes:
                - {{ '/media/storage0/' if inventory_hostname in groups['ubuntu'] else '~/apps/minio/data/' }}:/data
              # File is manually written to host
              # https://hub.docker.com/r/bitnami/minio
              env_file: ~/apps/minio/defaults.env
              ports:
                - 9000:9000
                - 9001:9001
    - name: Create, start minio
      community.docker.docker_compose_v2:
        project_src: ~/apps/minio/
