"*":
  core:
    disabledPackages: [
      "exception-reporting"
      "linter-flake8"
    ]
    telemetryConsent: "no"
  "highlight-line":
    enableSelectionBorder: true
  "linter-flake8":
    executablePath: "~/venv/bin/flake8"
    maxLineLength: 120
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
