cookiecutter
dbt-bigquery
dbt-clickhouse
dbt-core
dbt-postgres
flake8
gita
graphviz
grip
ipdb
ipython==8.0.1
jedi==0.17.2
pandas
pipdeptree
pipreqs
pre-commit
# bq cli tool is busted
pyparsing==2.4.2
pudb
sqlfluff
yamllint
yapf
