# 1. Using rpi-imager, write os to disk (remember to configure wifi, ssh keys, etc.)
# 2. Run `ansible-playbook -i ~/.playbooks/inventory.yaml ~/.playbooks/pi.yaml --ask-become-pass`
---
- hosts: pi
  vars:
    repos:
      - ~/repos/pi-apps.git
      - ~/repos/private.git
  tasks:
    - name: Create repo dirs
      tags:
        - git
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      loop: "{{ repos }}"
    - name: Initialize repo
      tags:
        - git
      ansible.builtin.shell:
        cmd: git init --bare
        chdir: "{{ item }}"
      args:
        creates: "{{ item }}/HEAD"
      loop: "{{ repos }}"
- import_playbook: ../applications/caddy/main.yaml
- import_playbook: ../applications/pihole/main.yaml
- import_playbook: ../applications/vaultwarden/main.yaml
- import_playbook: ../applications/minio/main.yaml
- import_playbook: ../applications/jellyfin/main.yaml
- import_playbook: ../applications/nextcloud/main.yaml
