---
- hosts: all
  tasks:
    - name: Add docker gpg key
      when: ansible_facts["distribution"] == "Ubuntu"
      become: true
      apt_key:
        state: present
        url: https://download.docker.com/linux/ubuntu/gpg
    - name: Add docker repository
      when: ansible_facts["distribution"] == "Ubuntu"
      become: true
      apt_repository:
        state: present
        repo: deb https://download.docker.com/linux/ubuntu   noble stable
    - name: Install docker
      when: ansible_facts["distribution"] == "Ubuntu"
      become: true
      ansible.builtin.apt:
        state: present
        update_cache: true
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
    - name: Install docker
      when: ansible_facts["distribution"] == "Archlinux"
      become: true
      community.general.pacman:
        state: present
        name:
          - docker
          - docker-buildx
          - docker-compose
    - name: Enable, start docker service
      become: true
      ansible.builtin.systemd_service:
        name: docker.service
        enabled: true
        state: started
    - name: Enable, start docker socket
      become: true
      ansible.builtin.systemd_service:
        name: docker.socket
        enabled: true
        state: started
    - name: Add host user to docker group
      become: true
      ansible.builtin.user:
        name: "{{ ansible_env.USER }}"
        groups: docker
        append: true
    # - name: Reboot machine
    #   become: true
    #   ansible.builtin.reboot:
