---
- hosts: localhost
  connection: local
  vars_files:
    - ./variables.yaml
  tasks:
    - name: Install virtualization tooling
      when: ansible_facts["distribution"] == "Archlinux"
      become: true
      community.general.pacman:
        state: present
        name:
          - dmidecode
          - dnsmasq
          - iptables-nft
          - libvirt
          - qemu
          - virtualbox
    - name: Add host user to libvirt group
      become: true
      ansible.builtin.user:
        name: "{{ ansible_env.USER }}"
        groups: libvirt
        append: true
    - name: Install vagrant
      when: ansible_facts["distribution"] == "Archlinux"
      kewlfft.aur.aur:
        use: yay
        name:
          - vagrant
    - name: Add hashicorp gpg key
      when: ansible_facts["distribution"] == "Ubuntu"
      become: true
      apt_key:
        state: present
        url: https://apt.releases.hashicorp.com/gpg
    - name: Add hashicorp repository
      when: ansible_facts["distribution"] == "Ubuntu"
      become: true
      apt_repository:
        state: present
        repo: deb https://apt.releases.hashicorp.com noble main
    - name: Install virtualbox, libvirt
      when: ansible_facts["distribution"] == "Ubuntu"
      become: true
      ansible.builtin.apt:
        state: present
        update_cache: true
        name:
          - libvirt-daemon-system
          - vagrant
          - virtualbox
    - name: Check firewall backend config
      changed_when: false
      ignore_errors: true
      register: is_iptables_firewall_backend
      ansible.builtin.shell: |
        grep -q 'firewall_backend = "iptables"' /etc/libvirt/network.conf
    - name: Add firewall backend config
      when: is_iptables_firewall_backend.rc == 1
      become: true
      ansible.builtin.lineinfile:
        path: /etc/libvirt/network.conf
        insertafter: true
        search_string: firewall_backend
        line: firewall_backend = "iptables"
    - name: Enable, start libvirtd socket
      become: true
      ansible.builtin.systemd_service:
        name: libvirtd.socket
        enabled: true
        state: started
    - name: Check for vagrant plugins
      register: vagrant_plugins
      ansible.builtin.shell: |
        if vagrant plugin list | grep -q libvirt ; then
          echo installed
        else
          echo not-installed
        fi
    # Likely need to run `brew remove --ignore-dependencies pkg-config`
    # https://github.com/vagrant-libvirt/vagrant-libvirt/issues/1498#issuecomment-1133594122
    - name: Install vagrant plugins
      when:
        - vagrant_plugins.stdout == "not-installed"
      ansible.builtin.shell: |
        export VAGRANT_DISABLE_STRICT_DEPENDENCY_ENFORCEMENT=1
        vagrant plugin install vagrant-libvirt
